@model My_Portfolio_DEPI.ViewModels.TestimonialViewModel
@{
}


<div class="fun-facts insider-container">
    <div class="fun-facts-data container">
        <div class="fact">
            <i class="fa fa-users"></i>
            <h3 class="counter">@Model.TestimonialInfo.teamMembers</h3>
            <h5>Team members</h5>
        </div>
        <div class="fact">
            <i class="fa fa-files-o"></i>
            <h3 class="counter">@Model.TestimonialInfo.completeProjects</h3>
            <h5>Complete Projects</h5>
        </div>
        <div class="fact">
            <i class="fa fa-cloud-download"></i>
            <h3 class="counter">@Model.TestimonialInfo.filesDownloaded</h3>
            <h5>Files Downloaded</h5>
        </div>
        <div class="fact">
            <i class="fa fa-coffee"></i>
            <h3 class="counter">@Model.TestimonialInfo.linesOfCode</h3>
            <h5>Lines Of Code</h5>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="footer">
    <div class="social-media">
        <a href="https://facebook.com" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" target="_blank">
            <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://google.com" target="_blank">
            <i class="fa-brands fa-google"></i>
        </a>
        <a href="https://github.com" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <p class="copyright">
        Copy Right 2025 © By <a href="#">Ahmed-Hany</a> All Rights Reserved
    </p>
</div>