@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="header-section">
    <div class="header-content">
        <div class="head">
            <span>Hello i'm</span>
            <h1>AHMED HANY</h1>
            <h4>Professional Web Developer</h4>
        </div>
    </div>
</div>
